/**
* About Us
*/

.about__hero {
  min-height: 40vh;
  background-position: center;
  background-size: cover;
  border-radius: 0;
  margin: 0;

  @media (min-width: 768px) {
    min-height: 50vh;
  } 
}

.section--about {
  padding-top: 0 !important;
}

.about__person__photo {
  max-width: 120px;
  margin-top: -1.5rem;

  @media (min-width: 768px) {
    max-width: 140px;
  } 
}

.about__person__name,
.about__person__position {
  color: #000;
}

.about__person__separator {
  max-width: 90%;
  border-top: 1px solid #E1E8EE;
  margin: 1.9rem auto 2rem;
  opacity: 0.8;

  @media (min-width: 768px) {
    max-width: 80%;
    margin: 2.4rem auto 2.6rem;
  } 
}

.social__list {
  margin: 1rem auto 1.4rem auto;

  @media (min-width: 768px) {
    margin: 1.2rem auto 1.8rem auto;
  } 
}

.social__list__item {
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;

  opacity: 0.35;
  transition: opacity 250ms ease-in-out;
}

.social__list__item:hover {
  opacity: 0.5;
}

.social__list__image {
  min-width: 16px;
  min-height: 16px;

  @media (min-width: 768px) {
    min-width: 20px;
    min-height: 20px;
  } 
}
