.section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.section-bg-secondary {
  background-color: $secondary;
}

.section-bg-secondary * {
  color: #fff;
}

.section.testimonials {
  background-color: #F4F4F4;
}