.btn-primary {
  background-color: $buttoncolor;
  padding-right: 4rem;
  padding-left: 4rem;
  border-color: $buttoncolor;

  &:hover,
  &:active,
  &:not(:disabled):not(.disabled):hover,
  &:not(:disabled):not(.disabled):active {
    background-color: lighten($buttoncolor, 2);
    border-color: lighten($buttoncolor, 2);
  }
}