/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/**
* Base 
*/

html {
  text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: 'Lato', OpenSans, Arial, sans-serif;
  font-display: fallback;
  font-weight: 300;
  line-height: 1.5;
}

/**
* Typography
*/
.h2 {
  color: #43484D;
}
.h1 {
  font-size: 64px;
}
.lead {
  font-size: 1.35rem;
}


/**
* Nav
*/

.navbar {
  height: 5.25rem;
}

.nav-link svg * {
  fill: currentColor;
}

.navbar-brand {
  font-size: 1.4rem;
  line-height: 3.5rem;
  font-weight: 400;
  margin-left: 1rem;
}

.navbar-brand img {
  margin-right: 1.3rem;
  width: 3.5rem;
  height: 3.5rem;
}

.nav-item {
  white-space: nowrap;
}

@media (min-width: 768px) {
  .navbar-brand {
    position: absolute;
  }
  
  .nav__double__container {
    padding-right: 0;
  }

  .nav__double__collapse {
    justify-content: space-between;
  }

  .nav-col {
    padding-left: 15px;
  }
}
@media (min-width: 992px) {
  .nav-item--main {
    padding-right: 2rem;
  }

  .nav-item--socials {
    margin-left: 5px;
    margin-right: 5px;
  }
}

/**
* Section
*/
.section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #86939E;
  font-weight: 400;
  font-size: 1.125rem;
}

.section .display-1,  
.section .display-2,
.section .display-3,
.section .display-4,
.section h1,
.section h2,
.section h3 {
  color: #43484D;
}

.display-4 {
  font-size: 3rem;
  font-weight: 400;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}


.section-bg-secondary {
  background-color: #838CC7;
}
.section-bg-secondary * {
  color: #fff;
}

.section-bg-secondary .display-1,
.section-bg-secondary .display-2,
.section-bg-secondary .display-3,
.section-bg-secondary .display-4 {
  color: #fff;
}

.section.testimonials {
  background-color: #F4F4F4;
}

.section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}


/**
* Button
*/
.btn-primary {
  background-color: #43484D;
  padding-right: 4rem;
  padding-left: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-color: #43484D;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled):hover,
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #484d52;
  border-color: #484d52;
}

/**
 * Technologygrid
 */
.technologygrid {
  max-width: 35rem;
  margin: auto;
}
.technologygridgrid__image {
  max-width: 50%;
  display: block;
  margin: auto;
}

/**
* Quote and testimonialcarousel
*/
.quote__quotee + .quote__quoteeposition::before {
  content: ", ";
}
.testimonialcarousel {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.testimonialcarousel .quote__text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8;
  font-style: italic;
  color: #86939E;
}
.testimonialcarousel hr {
  display: none;
}
.testimonialcarousel .quote__quotee {
  display: block;
  margin-top: 1rem;
  text-align: center;
  font-size: 1rem;
  color: #43484D;
}
.testimonialcarousel .quote__quoteeposition {
  font-size: 0.8rem;
}
.testimonialcarousel .quote__image {
  border-radius: 50%;
  max-width: 5rem;
}
.testimonialcarousel .quote__quotee + .quote__quoteeposition::before {
  content: "";
}

/**
* Footer
*/
.footer {
  background-color: #545E6B;
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: #fff;
}

.footernav__item {
  margin-top: 0.5rem;
}

.footernav__link,
.legal-copyright {
  color: #BABEC3;
}
.footernav__link:hover,
.footernav__link:active,
.footernav__link:focus {
  color: #fff;
}

/**
* Page: Homepage
*/
.homepage__hero {
  background-color: #1C67C0;
  color: #fff;
  border-radius: 0;
  background-image: url("/hero-background.svg");
  background-size: cover;
}

@media (min-width: 992px) {
  
  .homepage__hero {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }
}

.homepage__hero .quote {
  margin-top: 2.5rem;
}
.homepage__hero .quote p,
.homepage__hero .quote .lead {
  font-weight: 300;
  font-size: 24px;
  font-style: italic;
  color: rgba(255, 255, 255, 0.8);
}
.homepage__hero .quote hr {
  background-color: rgba(255, 255, 255, 0.2);
  width: 70%;
  margin-right: auto;
  margin-left: 0;
}
.homepage__hero .quote p.lead {
  font-style: italic;
  padding-bottom: 2rem;
}

.homepage__hero .quote__quotee,
.homepage__hero .quote__quoteeposition {
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
}