.footer {
  background-color: #545E6B;
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: #fff;
}

.footernav__link,
.legal-copyright {
  color: #BABEC3;
}

.footernav__link:hover,
.footernav__link:active,
.footernav__link:focus {
  color: #fff;
}