<nav class="navbar navbar-expand-md navbar-light bg-white">
  <div class="navbar-brand col-md-4 col-lg-6">
    <a href="/">
      <img src="/icon-getcloudnative.svg" width="30" height="30" class="d-inline-block align-middle" alt="GetCloudnative Logo">
    </a>
    <span class="d-inline-block align-middle">GetCloudnative</span>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse col-md-8 offset-md-4 col-lg-6 offset-lg-6 justify-content-between bg-white" id="navbar">
    <ul class="navbar-nav navbar--main col-md-4 align-middle justify-content-start">
      {{ range .Site.Menus.main }}
      <li class="nav-item">
        <a class="nav-link" href="{{ .URL }}">
          {{ .Name }}
        </a>
      </li>
      {{ end }}
    </ul>
    
    <ul class="navbar-nav navbar--social col-md-4 align-middle justify-content-end">
      {{ range .Site.Menus.socials }}
      <li class="nav-item">
        <a class="nav-link" href="{{ .URL }}" title="{{ .Name }} Logo">
          {{ .Pre }}
        </a>
      </li>
      {{ end }}
    </ul>
  </div>
</nav>
