
<div id="testimonials" class="testimonialcarousel mt-3 carousel slide" data-ride="carousel">
  <ol class="carousel-indicators mb-3">
    {{ range $index, $e := .Site.Params.testimonials }}
      <li data-target="#testimonials" data-slide-to="{{ $index }}" class="{{ if (eq $index 0) }}active{{end}}" >
        <img src="{{ .logo }}" >
      </li>
    {{end}}
  </ol>
  <div class="carousel-inner">
    {{ range $index, $e := .Site.Params.testimonials }}
    <div class="carousel-item {{ if (eq $index 0) }}active{{end}}">
      <blockquote class="quote">
        <p class="quote__text lead mb-4">&ldquo;{{ trim .quote " \n" }}&rdquo;</p>
        <hr>
        {{if isset . "image" }}
        <img src="{{ .image }}" alt="{{ .quotee }} image" class="mt-3 quote__image">
        {{end}}
        <p>
          <span class="quote__quotee">{{ .quotee }}</span>{{ if isset . "position" }}<span class="quote__quoteeposition">{{ .position }}</span> {{ end }}
        </p>
      </blockquote>
    </div>
    {{ end }}
  </div>
</div>